[user]
	name = David Houck
	email = David.Houck@sas.com
[core]
	eol = lf
	autocrlf = input
[merge]
	renormalize = true
[push]
	default = upstream
[alias]
	co = checkout
	ci = commit
	st = status
	b = branch -vv
	br = branch
	last = log -1
	rmt = remote -v
[log]
	decorate = true
