[user]
	name = David Houck
	email = David.Houck@sas.com
	signingkey = E9DD4FD5
[core]
	eol = lf
	autocrlf = input
	abbrev = 7
[merge]
	renormalize = true
[push]
	default = upstream
[alias]
	a = add
	ap = add --patch
	b = branch -vv
	ba = branch -vv --all
	ci = commit
	cid = commit --dry-run
	cli = clean -i
	amend = commit --amend
	co = checkout
	cp = cherry-pick --no-commit
	d = difftool --no-prompt
	dc = diff --check
	ls = ls-files
	r = remote
	m = merge --squash
	rmt = remote -v
	suno = status -suno
	s-b = status -s -b
	st = status -uno
	br = branch
	last = log -1 --abbrev-commit --stat
	logo = log --abbrev-commit --oneline
	brm = branch --merged
	stu = status -u
	rls = review --list
	unstage = reset HEAD --
	unstageall = reset HEAD
	diffc = diff --cached
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	commend = commit --amend --no-edit
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all
	sst = status --short --branch
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	hub = repo hub
[log]
	decorate = true
[github]
	user = dhoucgitter
[color]
	ui = auto
[gitreview]
	remote = origin
[diff]
	tool = meld
[gitrepo "github"]
	token = dcaedc71bc4d566fb31fe79b868f3ee20fc8e8bd
